<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      id="#"
      class="navbar"
      style="
        background-color: rgb(8, 8, 8);
        position: sticky;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
      "
    >
      <button (click)="logout()" id="logouting">خروج از ترمینال</button>
      <button (click)="setView1()">اطلاعات همه دیتالاگرها</button>
      <button (click)="setView2()">پکت های اشتباه</button>
      <button (click)="setView3()">خطاهای سیستمی</button>
      <button (click)="setView4()">خطاهای شبکه</button>
    </div>
    <app-loading
      [show]="show"
      [show2]="show2"
      *ngIf="!loading"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 900px;
        background-color: #677685;
      "
    ></app-loading>
    <div *ngIf="loading">
      <div *ngIf="showcomponent1">
        <!--search-->
        <div
          class="text-center bold"
          style="background-color: #232324; padding-top: 10px"
        >
          <p class="text-center bold" style="color: #ffffff">
            سریال دیتالاگر را وارد کنید تا لیست را به مورد دلخواه فیلتر کنید
          </p>
          <form>
            <input
              type="number"
              style="
                width: 400px;
                height: 54px;
                margin: 10px;
                background-color: rgb(220, 228, 235);
              "
              name="id"
              [(ngModel)]="searchCase"
              placeholder="سریال دیتالاگر را وارد کنید"
            />
            <button (click)="search(searchCase)">جستجو</button>
          </form>
        </div>
        <!--end search-->
        <div class="table-container">
          <div class="to-top">
            <a href="#">بازگشت به بالا</a>
          </div>
          <table class="table table-dark table-striped table-bordered">
            <thead>
              <tr>
                <th>تاریخ</th>
                <th>فرمان</th>
                <th>نوع دیتالاگر</th>
                <th>محتوای پکت</th>
                <th>ای پی و پورت</th>
                <th>سریال دیتالاگر</th>
                <th>سی ار سی معتبر است؟</th>
                <th>پاسخ ترمینال به دیتالاگر</th>
                <th>دیتالاگر معتبر است؟</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of List$ | async">
                <td data-label="Date" style="white-space: nowrap">
                  {{ item.date }}
                </td>
                <td
                  data-label="Command"
                  (click)="openModal(item.commandCodeMeaning)"
                  style="cursor: pointer; white-space: nowrap"
                >
                  {{ Convertor(item.commandCodeMeaning) }}
                </td>
                <td
                  data-label="Command Version Meaning"
                  (click)="openModal(item.commandVersionMeaning)"
                  style="cursor: pointer; white-space: nowrap"
                >
                  {{ Convertor(item.commandVersionMeaning) }}
                </td>
                <td
                  data-label="Data"
                  (click)="openModal(item.dataContent)"
                  style="cursor: pointer"
                >
                  {{ item.dataContent }}
                </td>
                <td data-label="Ip/Port">{{ item.ipAndPort }}</td>
                <td data-label="Data Logger Serial Number">
                  {{ item.dataLoggerSerialInDecimal }}
                </td>
                <td data-label="Crc Validation">{{ item.isCrcValid }}</td>
                <td
                  data-label="Command Version Meaning 2"
                  (click)="openModal(item.response)"
                  style="cursor: pointer"
                >
                  {{ item.response | slice : 0 : 30 }} ...
                </td>
                <td data-label="Command Version Meaning 2">
                  {{ YesOrNo(item.isDataLoggerValid) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="showcomponent2">
        <div class="table-container">
          <table class="table table-dark table-striped table-bordered">
            <thead>
              <tr>
                <th>تاریخ</th>
                <th>پیام</th>
                <th>پکت اشتباه</th>
                <th>ادرس فرستنده</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ErrorList$ | async">
                <td data-label="Date" style="white-space: nowrap">
                  {{ item.date }}
                </td>
                <td
                  data-label="Command"
                  (click)="openModal(item.message)"
                  style="cursor: pointer; white-space: nowrap"
                >
                  {{ item.message | slice : 0 : 50 }} ...
                </td>
                <td
                  data-label="Command Version Meaning 2"
                  (click)="openModal(item.wrongPacket)"
                  style="cursor: pointer"
                >
                  {{ item.wrongPacket | slice : 0 : 50 }} ...
                </td>
                <td data-label="Command" style="white-space: nowrap">
                  {{ item.endpoint | slice : 0 : 50 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="showcomponent3">
        <div class="table-container">
          <table class="table table-dark table-striped table-bordered">
            <thead>
              <tr>
                <th>تاریخ</th>
                <th>پیام</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of IoList$ | async">
                <td data-label="Date" style="white-space: nowrap">
                  {{ item.date }}
                </td>
                <td
                  data-label="Command"
                  (click)="openModal(item.message)"
                  style="cursor: pointer"
                >
                  {{ item.message | slice : 0 : 50 }} ...
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="showcomponent4">
        <div class="table-container">
          <table class="table table-dark table-striped table-bordered">
            <thead>
              <tr>
                <th>تاریخ</th>
                <th>پیام</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of SocketList$ | async">
                <td data-label="Date" style="white-space: nowrap">
                  {{ item.date }}
                </td>
                <td
                  data-label="Command"
                  (click)="openModal(item.message)"
                  style="cursor: pointer"
                >
                  {{ item.message | slice : 0 : 50 }} ...
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
